{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block stylesheets %}

 <link rel="stylesheet" href="{{ asset('build/register_page.css') }}">

{% endblock %}

{% block body %}


 <div class="box__main-content">
   <div class="overlay__main-content"></div>
<div class="main-content__header">
    <div class="header__text" id="header__register">Register</div> 
</div>

<div class="main-content__body">


 {# FLASH MESSAGE #}
          <div class="box__flash-msg">
             {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash__{{ label }}">{{ message }}</div>
                {% endfor %}
            {% endfor %}
          </div>
{# FLASH MESSAGE #}



<div class="box__register-form">

      <div class="row__box">
          <div class="text__left">Registration</div>
          <a href="{{ path('login') }}" class="link__register">Already have account?</a>
      </div>

    <div class="row__box">
        
      {{ form_start(form, {'attr' : {'class' : 'form__register', 'novalidate' : 'novalidate'}}) }}

        <div class="row__form">
          {{ form_widget(form.firstname, {'attr' : {'class' : 'input_form', 'placeholder' : 'Firstname'}}) }}
          {% if form.firstname.vars['errors']|length > 0 %}
          <div class="error__input-error">
              {% for error in form.firstname.vars['errors'] %}
                <div class="text__error-text">{{ error.message }}</div>
              {% endfor %} 
          </div>
          {% endif %}
        </div>

    
          <div class="row__form">
            {{ form_widget(form.lastname, {'attr' : {'class' : 'input_form ', 'placeholder' : 'Lastname'}}) }}
             {% if form.lastname.vars['errors']|length > 0 %}
          <div class="error__input-error">
              {% for error in form.lastname.vars['errors'] %}
                <div class="text__error-text">{{ error.message }}</div>
              {% endfor %} 
          </div>
          {% endif %}
          </div>

          <div class="row__form">
            {{ form_widget(form.email, {'attr' : {'class' : 'input_form ', 'placeholder' : 'Email'}}) }}
            {% if form.email.vars['errors']|length > 0 %}
          <div class="error__input-error">
              {% for error in form.email.vars['errors'] %}
                <div class="text__error-text">{{ error.message }}</div>
              {% endfor %} 
          </div>
          {% endif %}
          </div>

          <div class="row__form">
            {{ form_widget(form.password.first, {'attr' : {'class' : 'input_form', 'placeholder' : 'Password'}}) }}
              {% if form.password.first.vars['errors']|length > 0 %}
          <div class="error__input-error">
              {% for error in form.password.first.vars['errors'] %}
                <div class="text__error-text">{{ error.message }}</div>
              {% endfor %} 
          </div>
          {% endif %}
          </div>


          <div class="row__form">
            {{ form_widget(form.password.second, {'attr' : {'class' : 'input_form', 'placeholder' : 'Repeat Password'}}) }}
          {% if form.password.second.vars['errors']|length > 0 %}
          <div class="error__input-error">
              {% for error in form.password.second.vars['errors'] %}
                <div class="text__error-text">{{ error.message }}</div>
              {% endfor %} 
          </div>
          {% endif %}
          </div>

          <div class="row__form">
            <button class="btn__register-form" type="submit">Register</button>
          </div>

{{ form_end(form) }}

</div>
    
      <div class="row__box"></div>


</div>

{% endblock %}



{% block javascripts %}
   <script src="{{ asset('build/register.js') }}"></script>
{% endblock %}